/******** General ********/
*{
	border-box: box-sizing;
}

.container-fluid{
/*	padding-left: 2em;
	padding-right: 2em;*/
}

.row{
	margin: 0em;
}

.txt-center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.font{
	font-family: arial, helvetica;
	font-size: 10pt;
}

/******** Header ********/
header{
	position: fixed;
	left: 1em;
	right: 1em;
	z-index: 1000;
	background-color: white;
}

header h1{
	text-align: center;
	color: green;
}

.headroom {
    transition: transform 500ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-200%);
}

/******** Nav Bar ********/
.navbar-default{
	background-color: #891010;
	/*padding: 0;*/
}

.navbar{
	margin: 0;
	height: 3em;
	min-height: 3em;
}

.navbar-nav{
	float: none;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	height: 3em;
}

.navbar-fixed-top{
	top: 4.5em;
	left: 1em;
	right: 1em;
}

.navbar-default .navbar-nav > li > a{
	color: white;
	font-family: arial, helvetica;
	font-size: 10pt;
	background-color: #891010;
}

/*Collapsed Navbar Dropdown Items*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: white;
	background-color: #891010;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.dropdown-menu {
	padding: 0;
}

.content-container{
	margin-top: 8em;
}

/******** Left Sidebar ********/
.left-sidebar{
	/*height: 100%;*/
}

.left-sidebar::before{
	margin-top: 1em;
}

.ls-content{
	margin: 0 auto;
}

/******** Main Content ********/

.intro{
	height: 30em;
	background-image: url(http://lorempixel.com/1000/400);
	background-size: cover;
}

.about{
	top: 5em;
	background-color: white;
	padding: 1em;
	border-radius: 2em;
}
.main{
	height: auto;
}

/*.main::before{
	margin-top: 1em;
}*/

.thumbnail{
	text-align: center;
	border: none;
}

#about-us{
	height: 20em;
	background-color: darkgreen;
}

#about-us h1{
	color: white;
}

.section-title{
	text-align: center;
	text-decoration: underline;
	position: relative;
	top: 1em;
}


.main .welcome img{
	display: inline-block;
	margin: 0 auto 1em;
	border-radius: 100%;
	margin: 5%;
}

.event-title{
	margin-top: 2em;
}

.event-img{
	display: block;
	margin: 0 auto 1em;
}

.sponsor-logo{
	display: inline-block;
	margin: 1em;
}

/****** Right Sidebar *********/
.right-sidebar{
	height: 100%;
	background-color: #F9F3D6;
}

.right-sidebar::before{
	margin-top: 1em;
}

#footer{
	background-color: black;
	color: white;
}

footer div{
	display: inline-block;
}

#footer span{
	display: block;
}



footer div{
	display: inline-block;
}

/*
@media (max-width: 992px){

  .right-sidebar {
    display: none;
  }

  .left-sidebar{
  	border-bottom: 1px solid #aaa;
  }

  .navbar-default .navbar-nav > li > a{
  	color: black;
  }

  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
  	background-color: white;
  }

  /*Collapsed Navbar Dropdown Items*/
	.navbar-default .navbar-nav .open .dropdown-menu > li > a{
		background-color: #891010;
	}

	.navbar-default .navbar-nav > .active > a:hover{
		background-color: white;
	}

	.navbar-toggle{
		width: 80%;
		margin: 0;
		margin-left: 10%;
		float: none;
		background-color: #aaa;
		color: white;
	}

	.dropdown-menu li:hover{
		background-color: white;
	}

	.menu-button{
		width: 80%;
		margin-left: 10%;
	}

	.main{
		border-left: none;
	}

	.sponsor-logo{
		display: inline-block;
		margin: 1em;
	}

	#footer{
		background-color: black;
	}
}*/

/*@media (max-width: 500px){

	header{
		left: 0;
		right: 0;
	}

	.navbar-fixed-top{
		left: 0;
		right: 0;
	}
	.container-fluid{
		padding-left: 0;
		padding-right: 0;
	}
	.sponsor-logo{
		display: block;
		margin: 1em auto;
	}

	footer p{
		font-size: .9em;
	}
}*/
