/******** General ********/
*{
	border-box: box-sizing;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.row{
	margin: 0;
}

.txt-center{
	text-align: center;
}

.bold{
	font-weight: bold;
}

.font{
	font-family: arial, helvetica;
	font-size: 10pt;
}



/******** Header ********/
header{
	height: 5em;
	width: 100%;
	background-color: green;
	position: fixed;
	z-index: 1000;
}

header h1{
	text-align: center;
}

/******** Nav Bar ********/
.navbar-default{
	background-color: #891010;
	padding: 0;
}

.navbar{
	margin: 0;
	height: 3em;
	min-height: 3em;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	height: 3em;
}

.navbar-fixed-top{
	top: 5em;
}

.navbar-default .navbar-nav > li > a{
	color: white;
	font-family: arial, helvetica;
	font-size: 10pt;
}

/*Collapsed Navbar Dropdown Items*/
.navbar-default .navbar-nav .open .dropdown-menu > li > a{
	color: white;
	background-color: #891010;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

.dropdown-menu {
	padding: 0;
}

.content-container{
	margin-top: 8em;
}

/******** Left Sidebar ********/
.left-sidebar{
	height: 100%;
}

.left-sidebar::before{
	margin-top: 1em;
}

.ls-content{
	margin: 0 auto;
}

/******** Main Content ********/
.main{
	height: auto;
	border-left: 1px solid black;
}

.main::before{
	margin-top: 1em;
}

.main .welcome img{
	display: block;
	margin: 0 auto 1em;
}

.event-title{
	background-color: yellow;
}

.event-img{
	display: block;
	margin: 0 auto 1em;
}

.sponsor-logo{
	display: inline-block;
	margin: 1em;
}

/****** Right Sidebar *********/
.right-sidebar{
	height: 100%;
	background-color: #F9F3D6;
}

.right-sidebar::before{
	margin-top: 1em;
}